{{ partial "header.html" . }}

{{/* ======================================== */}}
{{/* BODY MAIN */}}
<div id="body-main">
  <div class="container-fluid">
{{/* ======================================== */}}

<div class="row">
  {{ $featuredRows := 2 }} <!-- number of rows to feature in Getting Started section -->
  {{ $totalCount := len (where .Site.Pages "Section" "cloud") }} <!-- total number of articles in this section -->
  {{ $rowCount := (sub (div (add (add $totalCount 1) (mod $totalCount 3)) 3) $featuredRows) }} <!-- number of rows at the bottom -->

  <div class="col-xs-12 doc-overview">
    <main role="main">
      <div class="doc-list-header">
        <h1>Balsamiq Cloud Documentation</h1>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
<h3>Getting Started</h3>
</div></div>
      <div class="row">
        {{ range first 3 .Data.Pages.ByWeight }}
        <div class="col-xs-12 col-md-4">
<div class="list-group">
            <h4><a href="{{ .Permalink }}" class="list-group-item text-center pb1-5 pt1-5"><img src="http://media.balsamiq.com/img/support/docs/cloud/toc-button-{{ .File.BaseFileName }}.svg"><br>{{ .Title }}</a></h4>
<!--             <p>{{ .Summary }}</p> -->
</div>
        </div>
        {{ end }}
      </div>
      <div class="row">
        {{ range first 3 (after 3 .Data.Pages.ByWeight) }}
        <div class="col-xs-12 col-md-4">
<div class="list-group">
            <h4><a href="{{ .Permalink }}" class="list-group-item text-center pb1-5 pt1-5"><img src="http://media.balsamiq.com/img/support/docs/cloud/toc-button-{{ .File.BaseFileName }}.svg"><br>{{ .Title }}</a></h4>
<!--             <p>{{ .Summary }}</p> -->
</div>
        </div>
        {{ end }}
      </div>

      <div class="row">
        <div class="col-xs-12">
        <h3 class="text-center">Everything Else...</h3>
</div></div>
<div class="row">
    <div class="col-xs-12">
      <ul class="mt0 pt0 pb0">
      {{ range after 6 .Data.Pages }}
        {{ .Render "li"}}
      {{ end }}
      </ul>
  </div>
</div>

{{ block "faqs" . }}
{{ end }}


{{ block "footer" . }}
{{ end }}
