{{ partial "header.html" . }}

{{/* ======================================== */}}
{{/* BODY MAIN */}}
<div id="body-main">
  <div class="container-fluid">
{{/* ======================================== */}}

<div class="row">
<!-- {{ $.Scratch.Set "rownum" 1 }} -->

  <div class="col-xs-12 doc-overview">
    <main role="main">
      <div class="doc-list-header">
        <h1>Mockups for Desktop Documentation</h1>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
<h3>Getting Started</h3>
</div></div>
      <div class="row">
        {{ range first 3 .Data.Pages.ByWeight }}
        <div class="col-xs-12 col-md-4">
<div class="panel panel-default">
<div class="panel-body text-center">
            <h4><a href="{{ .Permalink }}" class="text-center">{{ .Title }}</a></h4>
</div></div>
        </div>
<!--         {{ $.Scratch.Add "rownum" 1 }} -->
        {{ end }}
      </div>
      <div class="row">
        <div class="col-xs-12">
        <h3 class="text-center">Everything Else...</h3>
        <ol id="list" start="4">
        {{ range after 3 .Data.Pages.ByWeight }}
          {{ .Render "li"}}
        {{ end }}
        </ol>
    </main>
  </div> <!-- /.doc-overview -->

</div>{{/* /.row */}}

{{/* ======================================== */}}
  </div>
</div>
{{/* /BODY MAIN */}}
{{/* ======================================== */}}

{{ partial "footer.html" . }}
