{{ partial "header.html" . }}

{{/* ======================================== */}}
{{/* BODY MAIN */}}
<div id="body-main">
  <div class="container-fluid">
{{/* ======================================== */}}

<div class="row">
{{ $.Scratch.Add "showlist" 0 }}
  <div class="col-xs-12 doc-overview">
    <main role="main">
      <div class="doc-list-header">
        {{ if eq .Title "Mybalsamiq" }}
        <h1>myBalsamiq Documentation</h1>
        {{ else if eq .Title "Google-drive" }}
        <h1>Mockups for Google Drive Documentation</h1>
        {{ else if eq .Title "Jira" }}
        {{ $.Scratch.Set "showlist" 1 }}
        <h1>Mockups for JIRA Documentation</h1>
        {{ else if eq .Title "Confluence" }}
        {{ $.Scratch.Set "showlist" 1 }}
        <h1>Mockups for Confluence Documentation</h1>
        {{ else }}
        <h1>{{ .Title | humanize | title }} Documentation</h1>
        {{ end }}        
      </div>
      {{ if eq ($.Scratch.Get "showlist") 0 }}  <!-- Products with only one version -->
        <ol id="list">
        {{ range .Data.Pages.ByWeight }}
          {{ .Render "li"}}
        {{ end }}
        </ol>
      {{ else }} <!-- Products with multiple versions -->
      
        {{ range (.Data.Pages.GroupByParam "product").Reverse }}
          <h2 id="{{ .Key | urlize }}">{{ .Key }}</h2>
          <ul>
            {{ range .Pages.ByWeight }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
          </ul><hr />
        {{ end }}
      {{ end }}

    </main>
  </div> <!-- /.doc-overview -->

</div>{{/* /.row */}}

{{/* ======================================== */}}
  </div>
</div>
{{/* /BODY MAIN */}}
{{/* ======================================== */}}

{{ partial "footer.html" . }}
