{{ partial "header.html" . }}

{{/* Initialize gifplayer (http://rubentd.com/gifplayer/) for images with alt text set to "gif" */}}
<script>
			$(document).ready( function(){
				$("img[alt='gif']").gifplayer({ label: 'Play' });
			});
</script>

{{/* ======================================== */}}
{{/* BODY MAIN */}}
<div id="body-main">
  <div class="container-fluid">
{{/* ======================================== */}}

<div class="row">
{{ $.Scratch.Add "twoversions" 0 }}
  <div class="local-nav local-nav-1 hidden-xs hidden-sm col-md-3">
    <div id="sidebar-box">
    {{ if eq .Section "desktop" }}
      {{ partial "sidebar_desktop.html" . }}
    {{ else if eq .Section "mybalsamiq" }}
      {{ partial "sidebar_mybalsamiq.html" . }}
    {{ else if eq .Section "google-drive" }}
      {{ partial "sidebar_gdrive.html" . }}
    {{ else if eq .Section "cloud" }}
      {{ partial "sidebar_cloud.html" . }}
    {{ else if eq .Section "jira" }}
        {{ $.Scratch.Set "twoversions" 1 }}
        {{ if eq .Params.menu "menujiraserver2" }}
          {{ partial "sidebar_jiraserver2.html" . }}
        {{ else }}
          {{ partial "sidebar_jira.html" . }}
        {{ end }}
     {{ else if eq .Section "confluence" }}
        {{ $.Scratch.Set "twoversions" 1 }}
        {{ if eq .Params.menu "menuconfluenceserver2" }}
          {{ partial "sidebar_confluenceserver2.html" . }}
        {{ else }}
          {{ partial "sidebar_confluence.html" . }}
        {{ end }}
    {{ else }}
      <!-- sidebar -->
    {{ end }}
    {{ partial "sidebar_inpage.html" . }}
    </div>
  </div>

  <div id="page-article" class="col-xs-12 col-md-9">
    <div id="support-main">
      <div class="support-body">
        <article>
          {{ if .Params.product }}
          <h5 class="subtitle">{{ .Params.product }}</h5>
          {{ else if eq .Section "mybalsamiq" }}
          <h5 class="subtitle">myBalsamiq</h5>
          {{ else }}
          <h5 class="subtitle">Mockups for {{ .Section | humanize | title }}</h5>
          {{ end }}
          <h1 class="title mt0">{{ .Title }}</h1>
          <div class="breadcrumbs visible-xs visible-sm">{{ partial "breadcrumbs.html" . }}</a></div>
          <div class="article-content content article">
            {{ if .Params.include }}
              {{ $include := .Params.include }}
              {{ if eq .Params.editorversion 4 }}
                {{ range where .Site.Pages "Params.menu" "menuwireframes" }}
                {{ $file := .File.BaseFileName }}
                {{ if eq $file $include }}
                  {{ .Content }}
                  {{ end }}
                {{ end }}
              {{ else if eq .Params.editorversion 3 }}
                {{ range where .Site.Pages "Params.menu" "menub3editor" }}
								{{ $file := .File.BaseFileName }}
                {{ if eq $file $include }}
                  {{ .Content }}
                  {{ end }}
                {{ end }}
              {{ else if eq .Params.editorversion 2 }}
                {{ range where .Site.Pages "Params.menu" "menub2editor" }}
								{{ $file := .File.BaseFileName }}
                {{ if eq $file $include }}
                  {{ .Content }}
                  {{ end }}
                {{ end }}
              {{ else }}
              {{ end }}

            {{ else }}
              {{ .Content }}
            {{ end }}
          </div>
          {{/*
          <hr>
          {{ partial "article_tags.html" . }}
          */}}
          <hr>
          <nav class="section-pager">
            <ul class="pager">
              <li class="previous">
              {{ if eq ($.Scratch.Get "twoversions") 1 }}
                {{ if eq .File.BaseFileName "intro"}} <!-- don't show previous arrow (to other version of plugin docs) for first article -->
                 {{ else }}
                <a href="{{.NextInSection.Permalink}}"><span aria-hidden="true">&larr;</span> {{.NextInSection.Title}}</a>
                {{ end }}
              {{ else }}
              {{ if .NextInSection }}
                <a href="{{.NextInSection.Permalink}}"><span aria-hidden="true">&larr;</span> {{.NextInSection.Title}}</a>
              {{ end }}
              {{ end }}
              </li>

              <li class="next">
              {{ if eq ($.Scratch.Get "twoversions") 1 }}
                {{ if eq .File.BaseFileName "shortcuts"}} <!-- don't show next arrow (to other version of plugin docs) for last article -->
                {{ else }}
                <a href="{{.PrevInSection.Permalink}}">{{.PrevInSection.Title}} <span aria-hidden="true">&rarr;</span></a>
                {{ end }}
              {{ else }}
              {{ if .PrevInSection }}
                <a href="{{.PrevInSection.Permalink}}">{{.PrevInSection.Title}} <span aria-hidden="true">&rarr;</span></a>
              {{ end }}
              {{ end }}
              </li>
            </ul>
          </nav>
          <span class="gray">Share this page:
          <a href="https://twitter.com/intent/tweet/?text={{ .Title }}&url={{ .Permalink }}&via=balsamiq" target="_blank" class="js-social-share"><i class="ss-icon ss-social-regular">&#xF611;</i></a>
          <a href="https://www.facebook.com/share.php?u={{ .Permalink }}" target="_blank" class="js-social-share"><i class="ss-icon ss-social-regular">&#xF610;</i></a>
          <a href="https://plus.google.com/share?url={{ .Permalink }}" target="_blank" class="js-social-share"><i class="ss-icon ss-social-regular">&#xF613;</i></a>
          <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}" target="_blank" class="js-social-share"><i class="ss-icon ss-social-regular">&#xF612;</i></a></span>
<span class="pull-right"><a href="https://github.com/balsamiq/docs.balsamiq.com/blob/master/content{{ substr .RelPermalink 0 -1 }}.md" target="_blank"><i class="ss-icon ss-social-circle ss-github" aria-hidden="true"></i> Edit this page</a></span>
         </article>
      </div>
    </div>
  </div><!-- /.support-main -->

</div> <!-- /.row -->

{{/* ======================================== */}}
  </div>
</div>
{{/* /BODY MAIN */}}
{{/* ======================================== */}}

{{ partial "footer.html" . }}
